.drop{
width: auto !important;
}

.container-box {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.container-box2 {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-box2left {
  background-color: #FFFFE0;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 50px;
}

.container-box2right {
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 40px;
}

.container-bubble {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
  margin-right: 40px;
}

#continent_drop .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#country_drop .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#country3_drop .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#factor_drop_1 .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#factor_drop_2 .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#factor_drop_3 .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}