.pretty_box {
  padding: 20px;
  border-radius: 20px;
  background-color: #424140;
  margin: 20px;
}

.pretty_box2 {
  padding: 10px;
  border-radius: 10px;
  background-color: #6F6D6F;
  margin: 10px;
}

.rc-slider-track {
  background-color: #08BA14;
}

.rc-slider-dot-active {  
  border-color: #08BA14;
}

.rc-slider-handle {
  background-color: #08BA14;
  border-color: #08BA14;
}

.rc-slider-handle:hover {
  border-color: #08BA14;
}

.rc-slider-handle-active:active {
  border-color: #08BA14;
}

.drop{
width: auto !important;
}

.container-box {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.container-box2{
    background-color: #FFF;
}

.container-box2left {
  background-color: #FFFFE0; /* #EED864 cor de fundo branca */
  border-radius: 10px; /* bordas arredondadas */
  border: 1px solid #ccc; /* borda sólida de cor cinza claro */
  padding: 10px;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 50px;
}

.container-box2right {
  background-color: #4282E1; /* #F0FFFF f7f7ff #000cor de fundo branca */
  border-radius: 10px; /* bordas arredondadas */
  border: 1px solid #ccc; /* borda sólida de cor cinza claro */
  padding: 10px;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 40px;
}