.drop{
width: auto !important;
}

.container-box {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.container-box2 {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-box2left {
  background-color: #FFFFE0; /* #EED864 cor de fundo branca */
  border-radius: 10px; /* bordas arredondadas */
  border: 1px solid #ccc; /* borda sólida de cor cinza claro */
  padding: 10px;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 50px;
}

.container-box2right {
  background-color: aliceblue; /* #F0FFFF f7f7ff #000cor de fundo branca */
  border-radius: 10px; /* bordas arredondadas */
  border: 1px solid #ccc; /* borda sólida de cor cinza claro */
  padding: 10px;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 40px;
}

.container-bubble {
  background-color: #fff; /* #EED864 cor de fundo branca */
  border-radius: 10px; /* bordas arredondadas */
  border: 1px solid #ccc; /* borda sólida de cor cinza claro */
  padding: 10px;
  margin-top: 15px;
  margin-right: 40px;
  /*
  margin-left: 40px;
  justify-content: flex-end;*/
}

#continent_drop .VirtualizedSelectFocusedOption {
  background-color: 'green';/*'#778AAE';*/
  color: black;
}

#country_drop .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#country3_drop .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#factor_drop_1 .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#factor_drop_2 .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

#factor_drop_3 .VirtualizedSelectFocusedOption {
  background-color: '#778AAE';
  color: black;
}

.btn-color .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff0000; /* cor desejada */
    border-color: #ff0000; /* cor desejada */
}

/*
.radio-group .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.radio-group .show>.btn-outline-primary.dropdown-toggle:focus {
    color: #fff;
    background-color: #ff0000; /* Substitua pela cor desejada border-color: #ff0000; /* Substitua pela cor desejada
} */